
<!-- Create New Account -->

<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @user.errors.full_messages.each do |e| %>
      <strong> <li> <%= e %> </li> </strong>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
	<div class="login-container">
    <!-- <div id="output"></div> -->
      <div class="avatar">
        <img width="150px" class="avatar-img" src="/assets/tp.svg" alt="">
    </div>

    <div class="form-box">
      <%= form_for @user do |f| %>

        <%= f.text_field :name, placeholder: 'Full name' %>
        <%= f.email_field :email, placeholder: 'email' %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'password' %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'password' %>

        <%= f.button 'Sign Up', class: 'btn btn-info btn-block login' %>
      <% end %>
    </div>
  </div>
</div>
