
<div class="dest-list row">
  <h2> My Bucket List</h2>
    <i class="material-icons card-icon">
      <%= link_to 'map', { :controller => 'pages', :action => 'map', :markers => @marker_arr.to_json.html_safe } %>
    </i>
</div>

<div class="container dest-list">
  <div class="row">
    <% @user.destinations.each do |destination| %>
      <div class="col-4">
        <div class="card-deck">
          <div class="card">
            <%= link_to image_tag(destination.image, class: 'card-img-top'), destination_path(destination.id) %>
            <div class="card-body">
              <h5 class="card-title">
                <%= tag.div class: 'dest-divs' do %>
                  <%= link_to destination.name, destination_path(destination.id) %>
                  <%= link_to image_tag('/assets/delete-icon.png', class: 'card-icon'), user_path(destination.id), method: 'delete' %>
                <% end %>
              </h5>
            </div> <!-- card-body -->
          </div>
        </div> <!-- card-deck -->
      </div>
    <% end %>
    <div class="col-4">
    <div class="card">
      <%= link_to image_tag("https://cdn2.iconfinder.com/data/icons/transparent-round-icons/512/add.png", class: 'card-img-top', style: 'object-fit: scale-down'), destinations_path, method: 'get' %>
      <div class="card-body">
        <h5 class="card-title">
          <%= tag.div class: 'dest-divs' do %>
            <%= link_to '', destinations_path, method: 'get' %>
          <% end %>
        </h5>
      </div> <!-- card-body -->
    </div>
    </div>
  </div> <!-- row -->
</div>
