
<div class='page-header dest-list dest-margin'>
  <h2> Add experiences to <%= @destination.name %> </h2>
  <div class="budget-div">
    <img src="/assets/price-tag2.png" alt="Price tag" class="price-img">
    <div class="budget">
      <p> Trip cost </p>
      $ <%= (@hotels_cost + @activities_cost).round %>
    </div>
  </div>
</div>

<div class="container">
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/hotel-ph.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hotels
        <i class="material-icons card-icon">
          <%= link_to 'add', hotel_path(@destination.id), :method => :get, class: 'add-icon' %>
        </i>
        <i class="material-icons card-icon">
          <%= link_to 'map', { :controller => 'pages', :action => 'map', :markers => @hotel_markers.to_json.html_safe } %>
        </i>
      </h5>
      <ul class="list-group list-group-flush">
        <% @current_user.hotels.each do |hotel|  %>
          <% if hotel.destination == @destination %>
          <li class='list-group-item'>
            <%= hotel.name %>
            <%= link_to image_tag('/assets/delete-icon.png', class: 'card-icon'), hotel_path(hotel.id), method: 'delete' %>
          </li>
          <% end %> <!-- if-end -->
        <% end %> <!-- hotel end -->
      </ul>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/attr-ph.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Attractions
        <i class="material-icons card-icon">
          <%= link_to 'add', attraction_path(@destination.id), :method => :get %>
        </i>
        <i class="material-icons card-icon">
          <%= link_to 'map', { :controller => 'pages', :action => 'map', :markers => @attr_markers.to_json.html_safe } %>
        </i>
      </h5>
      <ul class="list-group list-group-flush">
      <% @current_user.attractions.each do |attraction|  %>
        <% if attraction.destination == @destination %>
          <li class='list-group-item'>
            <%= attraction.name %>
            <%= link_to image_tag('/assets/delete-icon.png', class: 'card-icon'), attraction_path(attraction.id), method: 'delete' %>
          </li>
        <% end %> <!-- if-end -->
      <% end %>
      </ul>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/activity-ph.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Activities
        <i class="material-icons card-icon">
          <%= link_to 'add', activity_path(@destination.id), :method => :get %>
        </i>
      </h5>
      <ul class="list-group list-group-flush">
        <% @current_user.activities.each do |activity|  %>
          <% if activity.destination == @destination %>
            <li class='list-group-item'>
              <%= activity.name %>
              <%= link_to image_tag('/assets/delete-icon.png', class: 'card-icon'), activity_path(activity.id), method: 'delete' %>
            </li>
          <% end %> <!-- if-end -->
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
